@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: min(1em, 1.2vw);
}

* {
    scroll-margin-top: 10rem;
}

body {
    font-family: "Montserrat", sans-serif;
    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 9%);
}

nav {
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* border: solid 1px white; */
}

nav > div {
    margin: 2.5cqw auto;
    width: 90cqw;
    background: no-repeat left url("./assets/nav-bg.png");
    background-size: auto 100%;
    padding: 0.6cqw;
    place-items: stretch;
}

#nav-logo {
    display: grid;
    place-items: center start;
    padding-left: 2.5cqw;
}

#nav-logo img {
    width: 20cqw;
}

#nav-links {
    font-size: 1.5cqw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#nav-cta {
    display: flex;
    align-items: center;
    justify-content: end;
}

#nav-cta * {
    font-size: 1.7cqw;
    font-weight: 750;
    padding: .7cqw 2.5cqw;
    background-color: hsl(342, 100%, 50%);
    color: inherit;
    text-decoration: inherit;
    border-radius: 3em;
}

#hero {
    background: left / cover url("./assets/hero-bg.png");
}

#hero h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 5.5em;
}

#hero h1 b {
    font-size: 1.5em;
}

.tags > span {
    font-size: 2rem;
    font-weight: 800;
    border: solid 3px;
    border-radius: 2em;
    padding: 0.5em 1.2em;
}

.tags > strong {
    font-size: 2rem;
    font-weight: 800;
    border: solid 3px;
    border-radius: 2em;
    padding: 0.5em 1.2em;
    color: hsl(342, 100%, 50%);
}

#description {
    margin: 60px 0;
}

#description h3 {
    font-size: 3.5rem;
    font-weight: 900;
}

#description p {
    font-size: 1.8rem;
}

#locations {
    margin: 60px 0;
}

#locations p {
    margin: 30px 0;
}

#locations .tags {
    place-items: end;
    padding-bottom: 3.2rem;
}

#locations .tags > * {
    font-size: 1.8rem;
}

#pictures {
    gap: 1cqw;
    place-content: stretch;
}

#pictures img{
    width: 100%;
}

#services {
    margin: 20rem auto;
}

#services h2 {
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 40px;
}

#services ul {
    list-style: none;
    font-size: 2rem;
    padding: 0;
}

#services li {
    padding: 5rem 0;
}

#services hr {
    color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    object-fit: contain;
}

#video {
    width: fit-content;
    margin: auto;
}

#video h2 {
    font-size: 6.5rem;
    font-weight: 800;
}

#companies h2{
    font-size: 6.5rem;
    font-weight: 800;
    text-align: center;
}

.carousel {
    margin: 5rem 0;
}

.carousel div {
    gap: 10rem;
}

.carousel div * {
    width: 25rem;
    margin-bottom: 20px;
}

#experience {
    padding-top: 70px;
    background: left / cover no-repeat url("./assets/numbers-bg.png");
}

#experience > div {
    margin: 200px 0;
    width: 85%;
    margin: auto;
}

#experience h2 {
    font-size: 6.5rem;
    font-weight: 800;
}

#numbers {
    gap: 10rem;
    padding-bottom: 150px;
}

#numbers h3 {
    margin-top: 50px;
    font-size: 15rem;
}

#numbers h3 b {
    color: hsl(342, 100%, 50%);
    font-weight: 750;
}

#numbers p {
    text-align: center;
    position: relative;
    left: -1em;
    width: 100%;
    font-size: 3.3rem;
}

#about {
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

#about h3{
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
}

#about p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#about hr {
    margin: 3.5rem 0;
}

#equipment div{
    min-width: unset;
}

#equipment h4 {
    font-size: 2rem;
}

#equipment {
    font-size: 1.3rem;
    font-weight: 200;
}

#equipment ul {
    margin: 1rem;
    padding: 0;
    list-style-type: "\2022   ";
}

#equipment li {
    margin: 0.5rem 0;
}

.flex div {
    min-width: 30rem;
}

#contact {
    margin: 200px 5%;
    border-radius: 5rem;
    background: center / cover no-repeat url("./assets/form-bg.png");
}

#contact > div {
    margin: auto;
    width: 80%;
    min-height: 42rem;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 12rem;
}

#contact h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#contact p {
    font-size: 1.5rem;
}

#contact form label {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#contact form input {
    font-size: 1.5rem;
    color: white;
    box-sizing: content-box;
    padding: 1rem;
    margin: 1rem 0;
    width: 94%;
    background-color: transparent;
    border: 1px solid white;
}

#contact form button {
    font-size: 1.7cqw;
    font-weight: 750;
    padding: .7cqw 2.5cqw;
    color: white;
    background-color: hsl(342, 100%, 50%);
    border: none;
    border-radius: 3em;
    float: right;
}

footer {
    text-align: center;
    margin: 8rem 0 3rem;
}

footer img {
    max-width: 50%;
}

footer p {
    font-size: 1.8rem;
    margin: 1.8rem;
}

#copyright {
    font-size: 1.2rem;
    color: #7f7f7f;
}